

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
<app-navbar></app-navbar>
	<!-- Header section end -->



	<!-- Hero section -->

	<!-- Hero section end -->



	<!-- Features section -->
	<section class="product-section"   style="padding-bottom: 150px;">
				
		<div class="container" data-parent="position.relative" >
			<div class="section-title">
				
				<h2>BROWSE TOP SELLING PRODUCTS</h2>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="product-pic-zoom "  >
			
					
						
						<img class="product-big-img" style="    position: absolute;
						bottom: -70px;
						left: 150px;
						max-width: 900px;
						padding: 25px;
						--bs-gutter-x: 13.5rem;
					" src="../../assets/img/img01.jpg" alt="" position="absolute">
						
					</div>
		
				</div>
				<div class="col-lg-6 product-details">
					
				
					
					
					<div>
					
							
								<div 
								
								 style="background-color:   rgba(237, 107, 128, 0.5) ;
									left: -200px;
    position: relative;
    margin-right: 42%;
    padding: 7px;
										
								">
									<h3
									class="text-warning"  style="margin-top: 25%;" style="margin-top: 33%;" 
									>Lorem ipsum dolor sit amet.</h3>
									<p>Approx length 66cm/26" (Based on a UK size 8 sample)</p>
									<p>Approx length 66cm/26" (Based on a UK size 8 sample)</p>
									<p>Mixed fibres</p>
									<p>The Model wears a UK size 8/ EU size 36/ US size 4 and her height is 5'8"</p>
									<span style="margin-left: 25%;
									font-size: 30px;
									background-color: rgba(240, 240, 61, 0.782);
									
									">En savoir plus</span>
									<img src="../../assets/BACK 001.png" style="position: absolute;
    left: 265px;
									"
									 >
									
								</div>
						
						
					</div>
			
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->


	<!-- letest product section -->
	
	<!-- letest product section end -->



	<!-- Product filter section -->
	<section class="product-filter-section" style="padding-bottom: 130px;">
		<div class="container">
			<div class="section-title">
				<h2>lorem</h2>
			</div>
		
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="../../assets/img/IMG5.jpg" alt="">
							<div class="pi-links">
							</div>
						</div>
						<div class="pi-text">
							
							<p><ins>Flamboyant Pink Top</ins> </p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem tenetur delectus, corrupti repellat officia quae quo velit ut animi, sapiente quasi. Error libero optio earum quidem amet iusto accusantium accusamus?</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-sale">ON SALE</div>
							<img src="../../assets/img/IMG2.jpg" alt="">
							<div class="pi-links">
							</div>
						</div>
						<div class="pi-text">
							
							<p><ins>Black and White Stripes Dress</ins></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum amet sequi laborum temporibus minima ex maxime, accusantium sed nisi at. Sed ad aut error sint labore laudantium facere ut non!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="../../assets/img/IMG3.jpg" alt="">
							<div class="pi-links">
					
							</div>
						</div>
						<div class="pi-text">
							
							<p><ins>Flamboyant Pink Top</ins> </p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eius adipisci voluptas veniam labore rerum optio. Commodi iure assumenda nam alias itaque explicabo labore. Rem ut suscipit ipsa odio nihil.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="../../assets/img/IMG4.jpg" alt="">
							<div class="pi-links">
							</div>
						</div>
						<div class="pi-text">
							
							<p><ins>Flamboyant Pink Top</ins> </p>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat minus nemo dignissimos illum delectus quam consectetur deleniti temporibus, velit saepe cumque modi pariatur repellat, at commodi aspernatur blanditiis nesciunt. Sequi?</p>
						</div>
					</div>
				</div>
				
			</div>
			
			<br>
			<br>
			<br>	
			</div>
			</section>


			<section class="features-section">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 p-0 feature">
							<div class="feature-inner">
							<div>
								<h3 style="    margin-top: 58px;">Fast Secure Payments</h3>
								
								<p    style="    margin-top: 100px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								Sint facilis nulla autem. At, earum culpa, omnis optio magni,
								 suscipit placeat in deleniti possimus totam odio consequatur voluptatibus ullam!
									  Exercitationem, labore?
								</p>
							<span class="text-center" 
							style="background-color: rgb(243, 157, 147,0.5);
							margin-top: 150px;
    						margin-bottom: 2.15rem;
							font-size: 1.5rem;" 
	>
								En savoir plus
							</span>
									</div>
							</div>
						</div>
						<div class="col-md-1 p-0 ">

							</div>
						<div class="col-md-5 p-0 ">
							<div class="feature-inner">
								<div class="feature-icon" >
									<img src="../../assets/img/img 05.jpg" style=" margin-bottom: 1rem;
									max-width: 108%;
									" >
									<a href="index.html">	<img src="../../assets/BACK 01.png"
									style="position: relative;
									margin-top: -100px;
									background-color: white
									;"
									 ></a>

								</div>
							</div>
						</div>
					
					</div>
				</div>
			</section>

			<section class="product-section"   style="padding-bottom: 150px;">
				
				<div class="container" data-parent="position.relative" >
					<div class="section-title">
						
						<h2>BROWSE TOP SELLING PRODUCTS</h2>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="product-pic-zoom "  >
					
							
								
								<img class="product-big-img" style="position: absolute;
								bottom: 35px;
								left: 150px;
								max-width: 900px;
								padding: 25px;
								--bs-gutter-x: 13.5rem;
							" src="../../assets/img/img 06.jpg" alt="" position="absolute">
								
							</div>
				
						</div>
						<div class="col-lg-6 product-details">
							
						
							
							
							<div id="accordion" class="accordion-area">
								<div>
							
									<div   > 
										<div 
										
										 style="background-color:   rgba(237, 107, 128, 0.5) ;
									    	left: 450px;
											
											margin-left: 33%;
										padding: 22px;
												
										">
											<h3
											class="text-warning"  style="margin-top: 25%;" style="margin-top: 33%;" 
											>Lorem ipsum dolor sit amet.</h3>
											<p>Approx length 66cm/26" (Based on a UK size 8 sample)</p>
											<p>Approx length 66cm/26" (Based on a UK size 8 sample)</p>
											<p>Mixed fibres</p>
											<p>The Model wears a UK size 8/ EU size 36/ US size 4 and her height is 5'8"</p>
											<span style="margin-left: 25%;
											font-size: 30px;
											background-color: rgba(240, 240, 61, 0.782);
											
											">En savoir plus</span>
											<img src="../../assets/BACK 001.png" style="position: absolute;
											left: 480px;
											"
											 >
											
										</div>
									</div>
								</div>
								
							</div>
					
						</div>
					</div>
				</div>
			</section>

			<section class="features-section"  style="padding-bottom: -30px;" >
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 p-0 feature">
							<div class="feature-inner">
							<div>
								<h3 style="    margin-top: 58px;">Fast Secure Payments</h3>
								
								<p    style="    margin-top: 100px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								Sint facilis nulla autem. At, earum culpa, omnis optio magni,
								 suscipit placeat in deleniti possimus totam odio consequatur voluptatibus ullam!
									  Exercitationem, labore?
								</p>
							<span class="text-center" 
							style="background-color: rgba(213, 136, 128, 0.5);
							margin-top: 150px;
							font-size: 25px;
    margin-bottom: 2.15rem;" 
	>
								En savoir plus
							</span>
									</div>
							</div>
						</div>
						<div class="col-md-1 p-0 ">

							</div>
						<div class="col-md-5 p-0 ">
							<div class="feature-inner">
								<div class="feature-icon" style="    margin-bottom: 10rem;">
									<img src="../../assets/img/img 07.jpg" >
									<a href="index.html">	<img src="../../assets/BACK 02.png"
									style="position: relative;
									background-color: sandybrown;
									margin-top: -100px;" ></a>

								</div>
							</div>
						</div>
					
					</div>
				</div>
			</section>
			

			<section class="features-section">
				<div class="container-fluid">
					<div class="row">
						<div  >
							<div >
							<div>
								<h3 class="text-center">Fast  Payments</h3>
								<br>
								
								<p   >Lorem ipsum dolor sit amet consectetur adipisicing elit. 
								Sint facilis nulla autem.</p>
								<p> At, earum culpa, omnis optio magni,
								 suscipit placeat in deleniti possimus totam odio consequatur voluptatibus ullam!
									  Exercitationem, </p>
									 
									  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia alias aliquid eum accusamus rem error quas sed ex dolorum possimus aut asperiores mollitia suscipit distinctio doloribus, consequuntur consectetur incidunt nihil!</p>
								
						
							
									</div>
									<div class="text-center " style="margin-top: 2.5%;" >
										<span  style="background-color: rgba(213, 136, 128, 0.5);  font-weight: 600; font-size: 1.5rem;"> En Savoir Plus</span></div>
							</div>
						</div>
						<div  style="margin-top: 2.5%;">

							</div>
						<div >
						
			<section class="features-section"  style="padding-bottom: 130px;">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6 p-0 feature">
							<div class="feature-inner">
								<div class="feature-icon" >
									<img src="../../assets/img/img 08.jpg">
									

								</div>
							</div>
						</div>
						
						<div class="col-md-6 p-0 ">
							<div class="feature-inner">
								<div class="feature-icon" >
									<img src="../../assets/img/img 09.jpg"  style="max-width: 93.5%;">
									

								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div style="font-size: 2rem;" >
					<span style="margin-left: 25%; text-decoration-line: underline;">lorem</span>
					<span style="margin-left: 45%; text-decoration-line: underline;">lorem</span>
				</div>
			</section>
						</div>
					
					</div>
				</div>
			</section>
	<!-- Product filter section end -->


	<!-- Banner section -->

	<!-- Banner section end  -->


	<!-- Footer section -->
<app-footer></app-footer>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->

	</body>

