<router-outlet></router-outlet>

<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row"  >
   
                <div class="col-xl-2 col-lg-1"  style="position: absolute;
                margin-left: 65%;" >
                    <form class="header-search-form" >
                        <input type="text" placeholder="Recherche">
                        <button><i class="flaticon-search"></i></button>
                    </form>
                </div>
      
                <div class="col-xl-4 col-lg-5" style="position: relative;
                top: 80%;
                right: -59%;
                ">
                    <div class="user-panel" style="margin-left: 115%;">
                        <div class="up-item" >
                            <i class="flaticon-profile"></i>
                        
                            <a href="#">Connexion</a> 
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" ></a>
        <div class="col-lg-1 text-right text-lg-left">
            <!-- logo -->
            <a href="./index.html" class="site-logo">
                <img src="../../assets/img/PROFIL.jpg" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        &nbsp;    &nbsp;  &nbsp;
        &nbsp;	&nbsp;
        &nbsp;
        &nbsp;
        &nbsp;		&nbsp;
        &nbsp;
        &nbsp;      &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;	&nbsp;
        &nbsp;
        &nbsp;
        &nbsp;		&nbsp;
        &nbsp;
        &nbsp;      &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;	&nbsp;
        &nbsp;
        &nbsp;
        &nbsp;		&nbsp;
        &nbsp;
        &nbsp;      &nbsp;
        &nbsp;
   
      
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">lorem <span class="sr-only">(current)</span></a>
              </li> <li class="nav-item active">
                <a class="nav-link" href="#">lorem <span class="sr-only">(current)</span></a>
              </li> <li class="nav-item active">
                <a class="nav-link" href="#">lorem <span class="sr-only">(current)</span></a>
              </li> <li class="nav-item active">
                <a class="nav-link" href="#">lorem <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">lorem <span class="sr-only">(current)</span></a>
              </li>
          
              <li class="nav-item active">
                <a class="nav-link" routerLink="/contact">contact <span class="sr-only">(current)</span></a>
              </li>
          </ul>
        
        </div>
      </nav>
</header>
